.myst{
    width: 100% !important;
    display: flex;
    position: absolute;
    /* overflow: scroll; */
    overflow-x: scroll;
    overflow-y: hidden;
  /* overflow-y: auto;    */
}

.vdocard{
    margin: 8rem 0;
}